html {
  box-sizing: border-box;
  font-family: 'open sans', sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.banner {
  position: relative;
  font-size: 4rem, 2rem;
}

.banner-content {
  padding: 0 1rem;
  position: absolute;
  bottom: 1rem;
}

.banner-content h2 {
  background-color: rgba(0, 0, 0, .5);
  font-size: 4rem;
  color: white;
}

.banner-content p {
  font-size: 2rem;
}

.img-flex {
  max-width: 50em;
  max-height: 500px;
}
